<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Chat App | Connect</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="./main.css">
</head>
<body>
    <div class="container py-5 px-4">
        <header class="text-center">
          <h1 class="display-4 text-white">Chat App</h1>
          <p class="text-white lead mb-0">Secure Chat </p>
        </header>
      
        <div class="rounded-lg overflow-hidden shadow" style="background-color: aliceblue;">

            <div class="px-0">
                <div>
                    <div class="px-4 py-2 ">
                        <a href="/" class="h5 mb-0 py-1 text-dark"><i class="fa fa-arrow-left"></i>   Chat </a>
                        <h2 class="text-center">Connect</h2>
                    </div>
                </div>
            </div>

            <br>

            <div class="input-group mb-3 input-group-lg green">
              <input type="text" class="form-control searchField" placeholder="&#xF002; Username / Email" style="font-family:Roboto, FontAwesome" />
            </div>

            
            <div class='messages-box'>
                <div class="list-group rounded-0 result-area">

                </div>
              </div>
        </div>

    </div> 
    <script src="./main-bundled.js"></script>
</body>

</html>